@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, label {
  font-family: Montserrat, Arial, sans-serif;
}

#logo {
  background-image: linear-gradient(to bottom, #d555da, #ffa621, #fce392);
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 1.75rem;
}

header {
  margin: 0 auto;
  max-width: 1440px;
}

#navbar {
  margin: 0 2rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}